.card {
  max-width: 413px;
}

.card__title {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  max-width: calc(100% - 23px - 8px);
}

.card__image {
  margin-bottom: 12px;
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
}

.card__like-button:hover {
  background-image: url(../images/heart-hover.svg);
  opacity: 100%;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}
