.footer__copyright {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  margin: 0 auto;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(33, 33, 33, 0.7);
}
