.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px #21212166 solid;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
}

.profile__description {
  margin: 0;
  opacity: 0.7;
  width: 97px;
  height: 16px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  display: flex;
  align-items: center;
  width: 108px;
  height: 16px;
  gap: 8px;
  opacity: 0.7;
  margin-top: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 90px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  border: none;
  cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-left: auto;
  margin-top: 138px;
  width: 149px;
  height: 52px;
  padding: 0;
  border-radius: 8px;
  background-color: rgba(33, 33, 33, 1);
  color: #fcf5e5;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 100%;
cursor: pointer;
}

.profile__add-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    min-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin: 0 0 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    align-items: center;
    margin: 0 0 20px;
  }

  .profile__add-btn {
    margin: 0;
    width: 100%;
    max-width: 288px;
  }
}
